html
  title Home
  head
    link(href='/style.css' rel="stylesheet" type="text/css" media="all")
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css' rel="stylesheet" type="text/css" media="all")
    script(src='//ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js')
    body#cuerpo
        h1(class='text-center') Banana Corp
        p Login usuarios
